<!DOCTYPE html>
<html lang="en">
<head>

     <title>Title</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/font-awesome.min.css">
     <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/owl.carousel.css">
     <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input, select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
</style>

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#" class="navbar-brand">Role Rader</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/home">Home</a></li>
                         <li><a href="/applied_jobs">Applied jobs</a></li>
                         <li><a href="/jobs">jobs</a></li>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="data:image/jpg;base64,{{dp}}" style="width: 50px;height: 50px;border-radius: 50%;"></a>
                              
                              <ul class="dropdown-menu">
                                   <li><a href="/viewprofile">profile</a></li>
                                   <li><a href="/certificate">Upload certificate</a></li>
                                   <li><a href="/">logout</a></li>
                              </ul>
                         </li>
                        
                    </ul>
               </div>

          </div>
     </section>

     {% if my_string %}
     <div class="container">
      <div id="regForm">
     <div class="row">
      <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p><strong>Recommended job is : </strong>{{job}}</p>
      
              <embed src="data:application/pdf;base64,{{ my_string }}" type="application/pdf" width="100%" height="600px" />
        
        </div>
        <div class="col-lg-2"></div>
      </div>
        {% if certificates %}
        {% for row in certificates %}
        <br><br>
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
     
              <img src="data:image/jpg;base64,{{ row }}" width="100%" height="600px" />
   
        </div>

        <div class="col-lg-2"></div>
      </div>
        {% endfor %}
        </div>
      </div>
        {% endif %}
     
     {% else %}
     <div class="container">
     <form id="regForm" action="/profile" method="post" enctype="multipart/form-data">

          <center><h3>Create Profile</h3></center>
          <hr>

          <div class="tab">Personal Details:
            <p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
            <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>
            <p><input placeholder="E-mail..." oninput="this.className = ''" value="{{email}}" readonly name="email"></p>
            <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
            <p><select oninput="this.className = ''" name="gender">
              <option value="">-- select gender ---</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            </select></p>
            <p>Date of birth<input type="date" oninput="this.className = ''" name="dob"></p>
          </div>
          
          <div class="tab">Qualification
            <p><input placeholder="Qualification..." oninput="this.className = ''" name="qualification"></p>
            <p><input placeholder="University..." oninput="this.className = ''" name="university"></p>
            <p><input placeholder="Result..." oninput="this.className = ''" name="result"></p>
            <p><input placeholder="Passout year..." oninput="this.className = ''" name="year"></p>
            <p><select oninput="this.className = ''" name="experiance">
              <option value="">-- Work experiance ---</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="5+">>5</option>
            </select></p>
          </div>

          <div class="tab">Other
            <p><input placeholder="Skills..." oninput="this.className = ''" name="skills"></p>
            <p><input placeholder="Languages..." oninput="this.className = ''" name="languages"></p>
            <p>Resume<input type="file" oninput="this.className = ''" name="resume"></p>
          </div>
          
          <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
              <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
          </div>
          
          <!-- Circles which indicates the steps of the form: -->
          <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
          
          </form>
          </div>
          {% endif %}
    <!-- SCRIPTS -->
    <script src="http://127.0.0.1:5000/static/js/jquery.js"></script>
    <script src="http://127.0.0.1:5000/static/js/bootstrap.min.js"></script>
    <script src="http://127.0.0.1:5000/static/js/owl.carousel.min.js"></script>
    <script src="http://127.0.0.1:5000/static/js/smoothscroll.js"></script>
    <script src="http://127.0.0.1:5000/static/js/custom.js"></script>

     
<script>
     var currentTab = 0; // Current tab is set to be the first tab (0)
     showTab(currentTab); // Display the current tab
     
     function showTab(n) {
       // This function will display the specified tab of the form...
       var x = document.getElementsByClassName("tab");
       x[n].style.display = "block";
       //... and fix the Previous/Next buttons:
       if (n == 0) {
         document.getElementById("prevBtn").style.display = "none";
       } else {
         document.getElementById("prevBtn").style.display = "inline";
       }
       if (n == (x.length - 1)) {
         document.getElementById("nextBtn").innerHTML = "Submit";
       } else {
         document.getElementById("nextBtn").innerHTML = "Next";
       }
       //... and run a function that will display the correct step indicator:
       fixStepIndicator(n)
     }
     
     function nextPrev(n) {
       // This function will figure out which tab to display
       var x = document.getElementsByClassName("tab");
       // Exit the function if any field in the current tab is invalid:
       if (n == 1 && !validateForm()) return false;
       // Hide the current tab:
       x[currentTab].style.display = "none";
       // Increase or decrease the current tab by 1:
       currentTab = currentTab + n;
       // if you have reached the end of the form...
       if (currentTab >= x.length) {
         // ... the form gets submitted:
         document.getElementById("regForm").submit();
         return false;
       }
       // Otherwise, display the correct tab:
       showTab(currentTab);
     }
     
     function validateForm() {
       // This function deals with validation of the form fields
       var x, y, i, valid = true;
       x = document.getElementsByClassName("tab");
       y = x[currentTab].getElementsByTagName("input");
       // A loop that checks every input field in the current tab:
       for (i = 0; i < y.length; i++) {
         // If a field is empty...
         if (y[i].value == "") {
           // add an "invalid" class to the field:
           y[i].className += " invalid";
           // and set the current valid status to false
           valid = false;
         }
       }

       y = x[currentTab].getElementsByTagName("select");
       // A loop that checks every input field in the current tab:
       for (i = 0; i < y.length; i++) {
         // If a field is empty...
         if (y[i].value == "") {
           // add an "invalid" class to the field:
           y[i].className += " invalid";
           // and set the current valid status to false
           valid = false;
         }
       }

       // If the valid status is true, mark the step as finished and valid:
       if (valid) {
         document.getElementsByClassName("step")[currentTab].className += " finish";
       }
       return valid; // return the valid status
     }
     
     function fixStepIndicator(n) {
       // This function removes the "active" class of all steps...
       var i, x = document.getElementsByClassName("step");
       for (i = 0; i < x.length; i++) {
         x[i].className = x[i].className.replace(" active", "");
       }
       //... and adds the "active" class on the current step:
       x[n].className += " active";
     }
     </script>

<script>
  if('{{msg}}'){
       alert('{{msg}}');
  }
</script>


</body>
</html>